body
{
    background-image: url(FONDO_DERECHO.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
    height: auto;

}
#diatam
{
    width: 600px;
    height: 900px;
}
#dia
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 900px;
    right: -350px;
    top: 20px;
}
#title
{
    text-align: left;
    margin-left: 25px;
    display: block;
    margin-top: 15px;
    color: silver;
}
#title1
{
    text-align: left;
    margin-left: 25px;
    display: block;
    margin-top: 15px;
    font-size: xX-large;
    color: white;
} 
@media only screen and (min-width: 421px) and (max-width:600px)
{
#diatam
{
    width: 300px;
    height: 450px;
}
#dia
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    left: 100px;
}
#title
{
    text-align: left;
    margin-left: 25px;
    display: block;
    margin-top: 15px;
    font-size: small;
}  
#TITLE2
{
    border: solid black 1px;
}  
}


@media only screen and (min-width: 60px) and (max-width:420px)
{
    #diatam
{
    width: 200px;
    height: 350px;
}
#dia
{
    position: relative;
    display: flex;
    width: 150px;
    height: 420px;
    left: 50px;
    top: -20px;
}
#title
{
    text-align: left;
    margin-left: 25px;
    display: block;
    margin-top: 15px;
    font-size:x-small
}  
#TITLE2
{
    border: solid black 1px;
}  
}